arrow==0.10.0
binaryornot==0.4.4
certifi==2017.11.5
Chameleon==3.2
chardet==3.0.4
click==6.7
cookiecutter==1.6.0
docopt==0.4.0
future==0.16.0
hupper==1.0
idna==2.6
Jinja2==2.10
jinja2-time==0.2.0
mailchimp==2.0.9
Mako==1.0.7
MarkupSafe==1.0
PasteDeploy==1.5.2
plaster==1.0
plaster-pastedeploy==0.4.2
poyo==0.4.1
Pygments==2.2.0
pyramid==1.9.1
pyramid-chameleon==0.3
pyramid-debugtoolbar==4.3
pyramid-handlers==0.5
pyramid-mako==1.0.2
python-dateutil==2.6.1
repoze.lru==0.7
requests==2.18.4
six==1.11.0
SQLAlchemy==1.2.0b3
translationstring==1.3
urllib3==1.22
venusian==1.1.0
waitress==1.1.0
WebOb==1.7.4
whichcraft==0.4.1
zope.deprecation==4.3.0
zope.interface==4.4.3
